.App {
  text-align: center;
  height :100%;
  width : 100%;
  background-color :#333836;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.card{
  text-align: center;
  font-weight: bold;
  margin: 25px;
  border-radius:10rem;

}
.Container{
  padding: 10px;
}

.form{
  padding-top: 20px;
  margin-right: 25%;
  margin-left: 25%;
  font-size: medium;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
